.modal-map {
  .balloon {
    width: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
    padding: 25px;
    box-sizing: border-box;
    position: relative;
  }

  .ymaps-2-1-78-balloon__close + .ymaps-2-1-78-balloon__content {
    margin-right: 0 ;
    padding: 0 ;
  }
  .ymaps-2-1-78-balloon_to_top .ymaps-2-1-78-balloon__tail {
    left: 50% ;
    transform: translateX(-50%) rotate(-45deg) ;
    background: #fff;
    &:after{
      background-color: inherit;
    }
  }

  .ymaps-2-1-78-balloon__close-button {
    width: 27px ;
    height: 30px ;
  }
  .ymaps-2-1-78-balloon__layout{
    border-radius: 5px;
    box-shadow: 0px 4px 19px rgba(15,48,112, 0.23);
    transition: .2s ease-in-out box-shadow;
    &:hover{
      box-shadow: 0px 4px 19px rgba(15,48,112, 0.43);
    }
  }
  .ymaps-2-1-78-balloon{
    transition: .2s ease-in-out transform;
    box-shadow: none;
    &:hover{
      transform: translateY(-5px);
    }
  }

  .ymaps-2-1-78-places-pane {
    z-index: 22222 !important;
  }
  .ymaps-2-1-78-balloon-pane {
    z-index: 22223 !important;
  }
  .ymaps-2-1-78-copyrights-pane {
    display: none;
  }

}