.page-404 {
  height: 100%;
  .container {
    height: 100%;
  }
  &__wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
  }
  h2 {
    font-weight: normal;
    font-size: 64px;
    color: #FFFFFF;
    margin: 0 0 45px;
  }
  p {
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0 0 50px;
  }
  a {
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1.5px solid #FFFFFF;
    border-radius: 5px;
    height: 62px;
    width: 296px;
    &:hover {
      background: #FA8F43;
      color: #fff;
      border-color: #FA8F43;
    }
  }
  &__img {
    display: flex;
    align-items: center;
    position: relative;
    span {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 214px;
      height: 174px;
      display: inline-block;
      &:nth-of-type(1) {
        margin-right: 20px;
        @include bgsvg('<svg viewBox="0 0 214 174" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.3" d="M19.3468 32.9266C19.3241 32.2908 19.4295 31.657 19.6567 31.0626C19.8839 30.4682 20.2283 29.9253 20.6696 29.4659C21.1108 29.0066 21.64 28.6402 22.2257 28.3884C22.8114 28.1366 23.4418 28.0045 24.0796 28H198.578C199.835 28.0125 201.036 28.5193 201.92 29.4101C202.805 30.301 203.301 31.5039 203.301 32.7574C203.301 97.1729 203.55 119.448 213.9 168.275C214.044 168.964 214.032 169.676 213.867 170.36C213.701 171.044 213.385 171.683 212.942 172.23C212.499 172.778 211.94 173.221 211.304 173.527C210.669 173.833 209.974 173.994 209.268 174H14.7041C14.0623 173.999 13.4275 173.867 12.8386 173.613C12.2498 173.358 11.7192 172.987 11.2795 172.52C10.8398 172.054 10.5003 171.503 10.2817 170.901C10.0631 170.3 9.97012 169.66 10.0084 169.021C13.554 110.7 21.3978 94.9211 19.3468 32.9266Z" fill="#3957AA"/>
<path d="M0 4.70361C0 4.08592 0.121982 3.47427 0.358992 2.9036C0.596003 2.33293 0.943369 1.81443 1.38131 1.37766C1.81924 0.940889 2.33916 0.594416 2.91135 0.358037C3.48355 0.121657 4.09686 0 4.7162 0H202.293C202.95 0.00128199 203.6 0.139593 204.201 0.40611C204.802 0.672627 205.34 1.06144 205.781 1.54759C206.222 2.03374 206.556 2.6065 206.762 3.22909C206.968 3.85169 207.042 4.51037 206.977 5.16289C200.525 71.5996 193.993 113.864 205.861 163.006C206.038 163.732 206.043 164.488 205.877 165.217C205.71 165.945 205.377 166.624 204.902 167.202C204.427 167.779 203.824 168.238 203.141 168.544C202.458 168.849 201.713 168.992 200.964 168.961C125.617 165.049 80.7785 164.426 5.02848 168.993C4.38541 169.028 3.74173 168.934 3.1364 168.714C2.53107 168.495 1.97668 168.155 1.50666 167.716C1.03663 167.277 0.660792 166.747 0.401831 166.159C0.14287 165.571 0.00615993 164.937 0 164.294V4.70361Z" fill="#3271FF"/>
<path d="M126.132 95.7115C126.133 96.1771 126.324 96.6231 126.661 96.9518C126.998 97.2805 127.455 97.4651 127.931 97.4651H136.614C138.042 97.4651 139.412 98.0199 140.422 99.0075C141.433 99.9951 142 101.334 142 102.731V108.924C142 110.321 141.433 111.66 140.422 112.648C139.412 113.635 138.042 114.19 136.614 114.19H127.909C127.432 114.19 126.975 114.375 126.637 114.705C126.3 115.035 126.11 115.482 126.11 115.949V136.734C126.11 138.131 125.543 139.47 124.533 140.458C123.523 141.445 122.153 142 120.724 142H110.172C108.744 142 107.374 141.445 106.364 140.458C105.354 139.47 104.786 138.131 104.786 136.734V115.975C104.787 115.744 104.741 115.515 104.651 115.301C104.561 115.088 104.428 114.893 104.261 114.73C104.094 114.567 103.895 114.437 103.676 114.349C103.458 114.261 103.224 114.216 102.987 114.216H54.683C53.2955 114.218 51.9609 113.696 50.9575 112.759C49.954 111.822 49.3591 110.542 49.2967 109.187L49.0058 103.179C48.954 102.089 49.2496 101.011 49.8515 100.093L102.497 19.4382C102.984 18.6899 103.657 18.0741 104.453 17.6478C105.248 17.2216 106.141 16.9987 107.048 17H120.74C122.169 17 123.539 17.5548 124.549 18.5424C125.559 19.53 126.127 20.8694 126.127 22.266L126.132 95.7115ZM73.0556 94.7742C72.8855 95.0403 72.7913 95.3461 72.7828 95.6598C72.7744 95.9736 72.8519 96.2838 73.0074 96.5584C73.163 96.8329 73.3907 97.0618 73.6672 97.2212C73.9438 97.3807 74.2589 97.4649 74.5799 97.4651H102.998C103.234 97.4658 103.468 97.4209 103.686 97.3331C103.904 97.2453 104.103 97.1162 104.27 96.9533C104.437 96.7904 104.569 96.5969 104.66 96.3838C104.75 96.1707 104.797 95.9422 104.797 95.7115V51.3715C104.797 50.9899 104.669 50.6189 104.434 50.3143C104.199 50.0097 103.869 49.788 103.494 49.6828C103.119 49.5776 102.719 49.5945 102.354 49.731C101.99 49.8675 101.681 50.1161 101.474 50.4394L73.0556 94.7742Z" fill="white"/>
</svg>
');
      }
      &:nth-of-type(2) {
        margin-right: 10px;
        transform: translateY(-30px);
        @include bgsvg('<svg width="219" height="192" viewBox="0 0 219 192" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.3" d="M33.3899 35.5815C33.4151 34.9442 33.5667 34.3186 33.8357 33.7414C34.1048 33.1643 34.4857 32.6474 34.9561 32.2213C35.4265 31.7953 35.9768 31.4686 36.5744 31.2607C37.1721 31.0528 37.8049 30.9678 38.4357 31.0109L208.673 43.9273C209.911 44.0342 211.059 44.6288 211.866 45.5823C212.674 46.5359 213.077 47.7719 212.988 49.0229C208.158 113.849 206.823 133.558 204.662 187.456C204.636 188.094 204.482 188.721 204.21 189.297C203.938 189.874 203.553 190.39 203.078 190.813C202.603 191.236 202.049 191.558 201.447 191.759C200.846 191.96 200.211 192.037 199.58 191.984L18.2474 176.369C17.6191 176.311 17.0089 176.125 16.4537 175.823C15.8985 175.52 15.4097 175.108 15.0168 174.61C14.6239 174.112 14.335 173.539 14.1676 172.925C14.0001 172.312 13.9576 171.67 14.0425 171.04C21.8582 112.948 30.7987 97.7617 33.3899 35.5815Z" fill="#3957AA"/>
<path d="M11.9394 4.58911C11.9612 3.95022 12.1111 3.32232 12.38 2.743C12.6488 2.16368 13.0312 1.64484 13.5042 1.21755C13.9772 0.790253 14.5312 0.463302 15.1328 0.256228C15.7345 0.0491543 16.3715 -0.0337697 17.0058 0.012423L214.669 14.9559C215.862 15.048 216.975 15.5954 217.78 16.4858C218.586 17.3762 219.022 18.5424 218.999 19.7454C217.909 86.2406 196.552 120.805 190.824 172.687C190.697 173.897 190.119 175.013 189.207 175.813C188.295 176.612 187.116 177.035 185.906 176.998L4.54368 170.079C3.88802 170.054 3.24484 169.891 2.6551 169.602C2.06536 169.313 1.54197 168.904 1.1182 168.4C0.694436 167.896 0.37958 167.31 0.193689 166.677C0.00779721 166.045 -0.0450644 165.38 0.0384612 164.726C7.55597 105.282 9.66827 68.0829 11.9394 4.58911Z" fill="#3271FF"/>
<path d="M149.048 99.6818C148.304 117.853 144.321 131.43 137.099 140.413C129.934 149.339 119.392 153.517 105.471 152.949C91.7888 152.391 81.6447 147.484 75.0385 138.228C68.5071 128.922 65.5155 115.438 66.0637 97.7745L66.9606 75.8986C67.708 57.7237 71.659 44.2267 78.8132 35.4074C86.0316 26.5988 96.6277 22.4804 110.602 23.0523C124.483 23.617 134.627 28.4653 141.034 37.5972C147.523 46.7361 150.49 60.1337 149.934 77.7899L149.048 99.6818ZM128.877 75.206C129.361 63.3428 128.092 54.5945 125.071 48.9613C122.049 43.3281 117.01 40.3392 109.956 39.9947C103.051 39.7176 97.8664 42.1453 94.4032 47.2777C90.947 52.3533 88.9022 60.4427 88.2686 71.5458L87.0994 100.199C86.6117 112.005 87.9038 120.869 90.9755 126.79C94.0472 132.711 99.1175 135.817 106.186 136.108C112.97 136.385 118.098 133.927 121.568 128.734C125.038 123.488 127.094 115.166 127.735 103.768L128.877 75.206Z" fill="white"/>
</svg>
');
      }
      &:nth-of-type(3) {
        @include bgsvg('<svg width="215" height="188" viewBox="0 0 215 188" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.3" d="M23.1104 51.503C23.0245 50.8396 23.0782 50.1655 23.2682 49.5244C23.4581 48.8832 23.78 48.2894 24.2129 47.7815C24.6458 47.2736 25.18 46.863 25.7809 46.5762C26.3819 46.2895 27.0361 46.1331 27.701 46.1171L199.405 43.0001C200.577 42.9928 201.71 43.422 202.585 44.2051C203.461 44.9882 204.018 46.0696 204.148 47.241C210.52 109.158 210.826 124.907 214.979 169.606C215.038 170.237 214.971 170.874 214.781 171.479C214.59 172.083 214.281 172.643 213.872 173.125C213.462 173.607 212.961 174.002 212.397 174.285C211.833 174.568 211.218 174.735 210.589 174.775L27.174 185.992C26.5502 186.029 25.9254 185.94 25.3364 185.73C24.7473 185.521 24.2059 185.195 23.7441 184.771C23.2824 184.348 22.9096 183.836 22.6478 183.265C22.386 182.694 22.2404 182.077 22.2197 181.449C20.3961 123.264 30.7474 112.588 23.1104 51.503Z" fill="#3957AA"/>
<path d="M0.0570019 24.395C-0.0432431 23.7553 -0.0110367 23.102 0.151791 22.4752C0.314619 21.8484 0.604566 21.2615 1.00373 20.7506C1.40288 20.2396 1.90283 19.8155 2.47277 19.5043C3.0427 19.1931 3.67061 19.0014 4.31771 18.9411L201.908 0.0220705C202.566 -0.0414414 203.229 0.0324912 203.856 0.239091C204.483 0.445692 205.06 0.780411 205.55 1.22187C206.04 1.66333 206.432 2.20181 206.701 2.8028C206.969 3.40379 207.109 4.05407 207.112 4.71205C207.341 67.2307 210.232 142.042 210.994 160.855C211.055 162.059 210.646 163.241 209.851 164.151C209.057 165.061 207.939 165.629 206.733 165.736C185.43 167.778 91.6942 176.999 20.9664 187.95C20.2986 188.047 19.6176 188.003 18.9681 187.82C18.3185 187.637 17.7151 187.32 17.1972 186.889C16.6794 186.457 16.2588 185.922 15.963 185.318C15.6672 184.713 15.5029 184.054 15.4808 183.382C13.7339 122.37 9.74479 85.9641 0.0570019 24.395Z" fill="#3271FF"/>
<path d="M131.329 107.242C131.374 107.706 131.6 108.134 131.958 108.431C132.315 108.728 132.775 108.871 133.237 108.828L141.695 108.051C142.384 107.987 143.078 108.06 143.738 108.267C144.398 108.473 145.012 108.808 145.543 109.253C146.074 109.698 146.513 110.244 146.834 110.859C147.155 111.475 147.353 112.148 147.415 112.841L147.977 119.032C148.042 119.724 147.97 120.423 147.765 121.087C147.561 121.751 147.228 122.368 146.786 122.903C146.344 123.438 145.802 123.88 145.19 124.204C144.578 124.527 143.908 124.726 143.22 124.789L134.756 125.572C134.295 125.619 133.871 125.846 133.576 126.206C133.281 126.565 133.138 127.027 133.179 127.491L135.072 148.273C135.136 148.967 135.063 149.666 134.858 150.331C134.653 150.996 134.32 151.613 133.877 152.148C133.434 152.683 132.89 153.125 132.277 153.448C131.664 153.771 130.993 153.969 130.304 154.031L120.053 154.977C119.364 155.042 118.669 154.969 118.008 154.763C117.347 154.557 116.733 154.222 116.202 153.777C115.67 153.332 115.23 152.786 114.909 152.17C114.587 151.554 114.39 150.88 114.328 150.187L112.436 129.399C112.39 128.934 112.163 128.506 111.805 128.209C111.446 127.911 110.985 127.769 110.522 127.813L63.5782 132.133C62.2295 132.26 60.8841 131.859 59.8224 131.012C58.7607 130.166 58.0648 128.941 57.8797 127.591L57.0543 121.612C56.8978 120.525 57.0815 119.417 57.58 118.44L101.412 33.089C101.818 32.2969 102.416 31.6208 103.151 31.1235C103.887 30.6262 104.735 30.3239 105.617 30.2447L118.923 29.0234C119.612 28.958 120.307 29.0301 120.969 29.2356C121.63 29.4411 122.245 29.776 122.777 30.2211C123.309 30.6662 123.749 31.2126 124.071 31.8291C124.393 32.4455 124.59 33.1198 124.652 33.8133L131.329 107.242ZM79.6431 111.059C79.5019 111.341 79.4383 111.655 79.4588 111.97C79.4793 112.285 79.5831 112.588 79.7596 112.849C79.9361 113.109 80.1789 113.318 80.4625 113.452C80.7462 113.586 81.0604 113.642 81.3726 113.613L108.992 111.07C109.454 111.024 109.879 110.797 110.174 110.437C110.47 110.078 110.612 109.615 110.569 109.151L106.537 64.8259C106.504 64.4433 106.347 64.0822 106.091 63.7971C105.835 63.5121 105.494 63.3188 105.119 63.2464C104.744 63.1741 104.356 63.2267 104.013 63.3963C103.67 63.5659 103.392 63.8432 103.22 64.1862L79.6431 111.059Z" fill="white"/>
</svg>
');
      }

    }
  }
}

@media (max-width: $xl) {
  .page-404 {
    &__img {
      span {
        width: 180px;
        height: 150px;
        &:nth-of-type(1) {
          margin-right: 0px;

        }
        &:nth-of-type(2) {
          margin-right: 0px;
        }
      }
    }
  }
}

@media (max-width: $lg) {
  .page-404 {
    h2 {
      font-size: 32px;
      margin-bottom: 20px;
    }
    p {
      font-size: 18px;
      margin: 0 0 40px;
    }
    a {
      font-size: 18px;
      height: 54px;
      width: 265px;
    }
    &__img {
      span {
        width: 120px;
        height: 100px;
      }
    }
  }

}

@media (max-width: $md) {
  .page-404 {
    &__wrap{
      flex-direction: column;
      justify-content: center;
    }
    h2 {
    }
    p {
    }
    a {
    }
    &__box{
      order: 1;
    }

    h2{
      margin-bottom: 5px;
    }
    &__img {
      order: 0;
      margin-bottom: 35px;
      span {
        width: 90px;
        height: 70px;
      }
    }
  }

}