.header {
  padding-top: 18px;
  padding-bottom: 16px;
  background: #fff;
  &-logo {
    font-size: 18px;
    line-height: 112.2%;
    background: url("../img/logo-icon.svg") no-repeat;
    padding-left: 31px;
    display: block;
    font-weight: 300;
  }
  &-city {
    color: #393939;
    font-size: 22px;
    margin-left: 118px;
    font-weight: 300;
    margin-top: 5px;
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      background: url(../img/header-city-ar.svg) no-repeat;
      width: 8px;
      height: 5px;
      right: -15px;
      top: 50%;
      margin-top: -5px;
    }
    ul{
      position: absolute;
      background: #fff;
      line-height: 1.2;
      top: 35px;
      left: -15px;
      overflow: hidden;
      z-index: 2;
      min-width: 190px;
      padding: 15px 15px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 16px;
      box-shadow: 0px 4px 21px  rgba(0, 0, 0, 0.07);
      opacity: 0;
      transition: 0.3s opacity, 0.3s visibility, 0.3s transform;
      transform: translate(0, -10px);
      visibility: hidden;
      li{
        margin-bottom: 8px;
        &:last-of-type{
          margin-bottom: 0;
        }
        a{
          &:hover{
            color: #195DF6;
          }
        }
      }
      &.active{
        visibility: visible;
        opacity: 1;
        transform: translate(0, 0px);
      }
    }

    span {
      cursor: pointer;
      transition: .2s ease-in-out color;
      &::after {
        content: '';
        border-bottom: 1px dashed #9D9D9D;
        display: block;
        position: relative;
        top: -3px;
        transition: .2s ease-in-out opacity;
      }
      &:hover{
        color: #195DF6;
        &::after {
          opacity: 0;
        }
      }
    }
  }
  &-count {
    font-size: 18px;
    line-height: 112.2%;
    text-align: right;
    margin-left: auto;
    color: #536273;

    span {
      color: #FA8F43;
      font-weight: 700;
    }
  }
}

@media (max-width: 991px) {
  .header .header-count {
    display: none;
  }
  .header-city {
    margin-left: auto;
  }
  .header-count {
    color: #fff;
    text-align: center;
  }
  .header{
    &-city {
      ul{
        top: 25px;
        left: auto;
        right: -15px;
        text-align: right;
        font-size: 14px;
        min-width: 165px;
      }

    }
  }


}

@media (max-width: 767px) {
  .header-city {
    margin-right: 15px;
  }
  .hero__content-name {
    padding-left: 20px;
    padding-right: 20px;
  }
}